if SHIELD_DOLLE_LEFT
CONFIG_ZMK_POINTING=y
# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Dolle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DOLLE_LEFT || SHIELD_DOLLE_RIGHT

config ZMK_SPLIT
    default y

endif