/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define GAMING 1
#define HANDLER 2

/ {
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC     &kp N1      &kp N2      &kp N3          &mt F4 N4       &kp N5
                &kp TAB     &kp Q       &kp W       &kp E           &kp R           &kp T
                &kp LWIN    &mt LWIN A  &mt LALT S  &mt LSHIFT D    &mt LCTL F      &kp G
                &kp LSHIFT  &kp Z       &kp X       &kp C           &kp V           &kp B
                &kp LCTRL   &kp Z       &kp X       &kp LCTRL       &kp SPACE       &mo HANDLER


            >;
        };
        
        gaming {
            bindings = <
                &kp ESC     &kp N1      &kp N2      &kp N3          &mt F4 N4       &kp N5
                &kp TAB     &kp Q       &kp W       &kp E           &kp R           &kp T
                &kp LWIN    &kp A       &kp S       &kp D           &kp F           &kp G
                &kp LSHIFT  &kp Z       &kp X       &kp C           &kp V           &kp B
                &kp LCTRL   &kp Z       &kp X       &kp LCTRL       &kp SPACE       &mo HANDLER
            >;
        };

        Layer_Handler {
            bindings = <
                &kp ESC     &to DEFAULT &to GAMING  &kp N3          &alt_f4         &kp N5
                &kp TAB     &kp Q       &kp W       &kp E           &kp R           &kp T
                &kp LWIN    &mt LWIN A  &mt LALT S  &mt LSHIFT D    &mt LCTL F      &kp G
                &kp LSHIFT  &kp Z       &kp X       &kp C           &kp V           &kp B
                &kp LCTRL   &kp Z       &kp X       &kp LCTRL       &kp SPACE       
            >;
        };
    };

    macros {
        alt_f4: alt_f4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &kp LALT>,
                <&macro_tap &kp N4>,
                <&macro_release &kp LALT>;
        };
    };
};